<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.room.mapper.RoomHistoryMapper">

    <insert id="create">
        INSERT INTO ROOM_HISTORY(ROOM_ID)
        VALUES (last_insert_id())
    </insert>

    <insert id="update" parameterType="int">
        INSERT INTO ROOM_HISTORY(MODIFY_COMMENT, ROOM_ID)
        VALUES('update', #{roomId})
    </insert>

    <insert id="delete" parameterType="int">
        INSERT INTO ROOM_HISTORY(MODIFY_COMMENT, ROOM_ID)
        VALUES('delete', #{roomId})
    </insert>

</mapper>