<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.support.mapper.ContactMapper">

    <insert id="create" parameterType="Contact">
        INSERT INTO CONTACT(EMAIL, NAME, CAFE_NAME, PHONE_NUMBER, ADDRESS, MESSAGE, BUSINESS_NUMBER)
        VALUES (#{email}, #{name}, #{cafeName}, #{phoneNumber}, #{address}, #{message},
                #{businessNumber})
    </insert>

    <select id="readCountAll" parameterType="string" resultType="int">
        SELECT COUNT(ID) AS count
        FROM CONTACT
        <where>
            <if test="type != null and type != ''">AND STATUS = #{type}</if>
        </where>
    </select>

    <select id="readAll" parameterType="PageParams" resultType="Contact">
        SELECT ID,
               EMAIL,
               NAME,
               CAFE_NAME,
               PHONE_NUMBER,
               ADDRESS,
               MESSAGE,
               BUSINESS_NUMBER,
               DATE_FORMAT(CONTACT_DATE, '%Y-%m-%d') AS contact_date,
               STATUS
       FROM CONTACT
       <where>
           <if test="type != null and type != ''">STATUS = #{type}</if>
       </where>
       ORDER BY CONTACT_DATE DESC, ID
       LIMIT #{elementSize} OFFSET #{offset}
    </select>

    <select id="readById" parameterType="int" resultType="Contact">
        SELECT ID,
               EMAIL,
               NAME,
               CAFE_NAME,
               BUSINESS_NUMBER,
               STATUS
        FROM CONTACT
        WHERE ID = #{id}
    </select>

    <select id="readByMailBNumDate" parameterType="ContactForm" resultType="Contact">
        SELECT ID,
               EMAIL,
               NAME,
               BUSINESS_NUMBER,
               STATUS
        FROM CONTACT
        WHERE (EMAIL = #{email} OR BUSINESS_NUMBER = #{businessNumber})
          AND (STATUS = 'hold' OR STATUS = 'approve')
    </select>

    <update id="update">
        UPDATE CONTACT
        <set>
            <if test="status != null and status != ''">STATUS = #{status},</if>
        </set>
        WHERE ID = #{id}
    </update>

</mapper>