<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.member.mapper.MemberHistoryMapper">

    <insert id="create">
        INSERT INTO
            MEMBER_HISTORY(MEMBER_ID)
        VALUES
            (last_insert_id())
    </insert>

    <insert id="createByUpdate">
        INSERT INTO
            MEMBER_HISTORY(MODIFY_COMMENT, MEMBER_ID)
        VALUES
            (#{comment}, #{memberId})
    </insert>

</mapper>